@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian+Condensed:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Host Grotesk', sans-serif;
  }

  [lang="ka"], [lang="ka"] * {
    font-family: 'Noto Sans Georgian Condensed', sans-serif;
  }
}

@layer utilities {
  .text-24 {
    font-size: 24px;
  }
  .text-20 {
    font-size: 20px;
  }
  .text-18 {
    font-size: 18px;
  }
  .text-16 {
    font-size: 16px;
  }
  .text-14 {
    font-size: 14px;
  }
  .text-12 {
    font-size: 12px;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
